.value_enter{
    border-radius: 50px;
    height: 310px;
    width: 25%;
    margin: 20px 20px 20px 20px;
    float: left;
    background: LightSteelBlue;
}
.line_value{
    border-radius: 50px;
    height: 310px;
    width: 25%;
    margin: 20px 20px 20px 20px;
    float: left;
    background: LightSteelBlue;
}
.para{
    overflow-y: scroll;
    border-radius: 50px;
    margin: 20px 20px 20px 20px;
    height: 310px;
    width: 40.9%;
    background: LightSteelBlue ;
    float: left;
}
button{
    border-radius: 20px;

    background: LightSlateGrey ;

    height: 80px;
    width: 150px;
    font-size: 20px;
    font-variant-caps: all-small-caps;
    margin: 50px 0px 0px 600px;
}
.line_value p{
  position:relative;
  left:22%;
}

.value_enter p{
  position:relative;
  left:18%;
}
input{
  margin-left: 10px;
  text-align: center;
}

.l1{
  position:relative;
  left:10%;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .value_enter, .line_value, .para {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  button{
    width: 100%;
    margin: 20px 20px 20px 20px;
  }
  .line_value p, .value_enter p{
    position:relative;
    left:15%;
  }
}
